set timeout={{ boot_cfg.global.timeout | default('10')}}
set default={{ boot_cfg.global.default }}

{% for entry in boot_cfg.menu_entries %}
  {% if entry.os_family == 'alpine' %}
    menuentry "{{ entry.name }}" {
      set version="{{ entry.version | regex_search('([0-9]\.[0-9]{2})|(latest-stable)') }}"
      set base_url="https://dl-cdn.alpinelinux.org/alpine/$version"
      set netboot_url="${base_url}/releases/x86_64/netboot"

      set kernel_options_global="{{ boot_cfg.global.kernel_options | default('') | join(' ') }}"
      set kernel_options_entry="{{ entry.kernel_options | default('') | join(' ') }}"
      set kernel_options_os="alpine_repo=${base_url}/main modloop=${netboot_url}/modloop-{{ entry.flavor }}"

      set kernel_options="${kernel_options_global} ${kernel_options_entry} ${kernel_options_os}"

      linux (http,{{ entry.netboot_url | urlsplit('hostname') }}){{ entry.netboot_url | urlsplit('path') }}/vmlinuz-{{ entry.flavor }} ${kernel_options}
      initrd (http,{{ entry.netboot_url | urlsplit('hostname') }}){{ entry.netboot_url | urlsplit('path') }}/initramfs-{{ entry.flavor }}
    }
  {% endif %}

{% endfor %}

menuentry "Reboot" {
  reboot
}
