#!ipxe
dhcp
cpuid --ext 29 && set arch x86_64 || set arch i386

menu PXE boot
{% for entry in boot_cfg.menu_entries %}
item {{ entry.name }} {{ entry.name }}
{% endfor %}
item reboot reboot
item exit exit
choose --timeout {{ boot_cfg.global.timeout | default('10') }}000 --default {{ boot_cfg.global.default }} target && goto ${target} || goto exit

{% for entry in boot_cfg.menu_entries %}

:{{ entry.name }}
  {% if entry.os_family == 'alpine' %}
    set version {{ entry.version | regex_search('([0-9]\.[0-9]{2})|(latest-stable)') }}
    set base_url http://dl-cdn.alpinelinux.org/alpine/${version}
    set netboot_url ${base_url}/releases/x86_64/netboot

    set kernel_options_global {{ boot_cfg.global.kernel_options | default('') | join(' ') }}
    set kernel_options_entry {{ entry.kernel_options | default('') | join(' ') }}
    set kernel_options_os alpine_repo=${base_url}/main modloop=${netboot_url}/modloop-{{ entry.flavor }}
    set kernel_options ${kernel_options_global} ${kernel_options_entry} ${kernel_options_os}
    
    kernel ${netboot_url}/vmlinuz-{{ entry.flavor }} ${kernel_options}
    initrd ${netboot_url}/initramfs-{{ entry.flavor }}
    boot
  {% endif %}
  {% if entry.os_family == 'coreos'%}
    set STREAM stable
    set VERSION {{ entry.version }}
    set BASEURL https://builds.coreos.fedoraproject.org/prod/streams/${STREAM}/builds/${VERSION}/x86_64

    set kernel_options_global {{ boot_cfg.global.kernel_options | default('') | join(' ') }}
    set kernel_options_entry {{ entry.kernel_options | default('') | join(' ') }}
    set kernel_options_os initrd=main coreos.live.rootfs_url=${BASEURL}/fedora-coreos-${VERSION}-live-rootfs.x86_64.img
    set kernel_options ${kernel_options_global} ${kernel_options_entry} ${kernel_options_os}
    
    kernel ${BASEURL}/fedora-coreos-${VERSION}-live-kernel-x86_64 ${kernel_options}
    initrd --name main ${BASEURL}/fedora-coreos-${VERSION}-live-initramfs.x86_64.img
    boot
  {% endif %}
  {% if entry.os_family == 'debian'%}
    set VERSION {{ entry.version }}
    set BASEURL http://http.us.debian.org/debian/dists/{{ entry.version}}/main/installer-amd64/current/images/netboot/debian-installer/amd64/

    set kernel_options_global {{ boot_cfg.global.kernel_options | default('') | join(' ') }}
    set kernel_options_entry {{ entry.kernel_options | default('') | join(' ') }}
    set kernel_options_os ''
    set kernel_options ${kernel_options_global} ${kernel_options_entry} ${kernel_options_os}
    
    kernel ${BASEURL}/linux ${kernel_options}
    initrd ${BASEURL}/initrd.gz
    boot
  {% endif %}

{% endfor %}

:reboot
reboot

:exit
exit
